<nav class="navbar navbar-light bg-light">
<%= form_with(model: @workout, local: true) do |form| %>
 
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@workout.errors.count, "error") %> prohibited
        this workout from being saved:
      </h2>
      <ul>
        <% @workout.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :description %>
  </p>

  <div>
    <p>Please select the Type :- 
    <%=  select_tag "type", options_from_collection_for_select(@types, "id", "name"), :include_blank => true %>
    </p>
  </div> 

  <div>
    <%# byebug %>

    <p>Please select the Exercises :- </p>
    <div id = "checkbox_ids">
      <%= collection_check_boxes :workout, :exercise_ids, @exercises, :id, :name do |b| %>
        <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
        </div>
      <% end %>
    </div>
  </div> 
  
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
</nav>