<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <%if current_user.admin? %>
        <nav class="navbar navbar-light bg-light">
          <li>
            <%= link_to 'All Exercises', exercises_path %>
          </li>
        </nav>

        <nav class="navbar navbar-light bg-light">
          <li>
            <%= link_to 'New Workout', new_workout_path %>
          </li>
        </nav>

        <nav class="navbar navbar-light bg-light">
          <li>
            <%= link_to 'All Types', types_path %>
          </li>
        </nav>

        <nav class="navbar navbar-light bg-light">
          <li>
            <%= link_to 'Assign Workout to user', new_users_workout_path %>
          </li>
        </nav>
      <% end -%>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<nav class="navbar navbar text-white h4">
  <% if user_signed_in? %>
    <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>  
    </li>
  <% else %>
    <li>
      <%= link_to('Login', new_user_session_path) %> 
    </li>
  <% end %>
</nav>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <h1>Listing Workouts</h1>
</nav>
<table>
  <tr>
    <th>Title</th>  
    <th>Text</th>
    <th>Exercises</th>
    <th colspan="3"></th>
  </tr>  
  <% @workout.each do |workout| %>
    <tr>
      <td><%= workout.name %></td>
      <td><%= workout.description %></td>
       <td> <% workout.exercises.each do |ex| %>
          <%= ex.name %>
        <% end %></td>
      <td><%= link_to 'Show', workout_path(workout) %></td>
      <%if current_user.admin? %>
        <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
        <td><%= link_to 'Destroy', workout_path(workout),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
                
        </td>
      <%end%>
    </tr>
  <% end %>
</table>
<%= will_paginate @workout %>