
<p>
  <strong>Title:</strong>
  <%= @type.name %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @type.description %>
</p>

<p> 
  <% @type.exercises.each do |ex| %>
        <li>
          <%= ex.name %>
          <%= video_tag url_for(ex.video), size: '150x150', :controls => true if ex.video.attached? %>
        </li>
  <% end %>
</p>

<%= link_to 'Back', types_path %>