
<h1>Assign Workout to User</h1>

<%= form_with scope: :user_workout, url: users_workouts_path, local: true do |form| %>

  <h1>Listing Users</h1>
  
  <div>
    
    <%=  select_tag "user", options_from_collection_for_select(@users, "id", "email")%>

  </div> 

  <h1>Listing Workouts</h1>
  
  <div>
    <%= collection_check_boxes :user_workout, :workout_ids, Workout.all, :id, :name do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div> 
  <p>
    <%= form.submit %>
  </p>
<% end %>