<!DOCTYPE html>
<html>
  <head>
    <title>GymFinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%- if flash.any? %>
      <%- flash.keys.each do |flash_key| %>
        <%- next if flash_key.to_s == 'timedout' %>
        <div class="alert-message <%= flash_key %>">
        <%= flash.discard(flash_key) %>
        </div>
      <%- end %>
    <%- end %>
    
    <%= yield %>
   
  </body>
</html>